*.config.js
dist
docs
fixtures
node_modules
release.js
.eslintrc.cjs
scripts/*.mjs
packages/test-support/scripts/setup-fixtures.js
packages/migrate/scripts/*.js
packages/codefixes/src/*.generated.ts
packages/regen/test/tmp/*.ts
