.Rapp.history
dist/
node_modules/
vendor/
tmp/
/*workspace
*.log
*.tgz
*.tmp
.nyc_output
.idea/*
packages/cli/bin/run.js
**SCRATCH**
**/test/results/**
*.tsbuildinfo
**.DS_Store**
packages/cli/.rehearsal.json
packages/cli/test/fixtures/app/.rehearsal.json