.DS_Store
.rehearsal*.md
.rehearsal*.json

.idea/
.history/
.nyc_output/
.vscode/

*.log
*.tgz
*.tmp

coverage/
dist/
node_modules/
results/
tmp/

**SCRATCH**

# yarn 3 zero installs
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
