.DS_Store

.idea/
.history/
.nyc_output/
.rehearsal/

*.log
*.tgz
*.tmp
**/*.js.map

coverage/
dist/
node_modules/
results/
tmp/

# we use pnpm for package management. scenario-tester uses yarn we dont want these files checkedin
**/.yarn/**
.yarnrc.yml
yarn.lock
